<div class="row">
  {{#each locs}}
  <div class="col-md-3">
    <div class="carta">
      <div class="carta-body">
        <h4 class="carta-title">
          {{ id }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
        </h4>
        <!-- DELETE REQUEST -->
        <form action="/remove_loc/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="boton btn">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {{else}}
  <div class="carta mx-auto">
    <div class="carta-body">
      <div class="carta-title">
        <h1>Hello {{user.name}}</h1>
      </div>
      <p class="carta-title">There are not Locs yet.</p>
      <a href="/add_loc" class="boton btn">Create One!</a>
    </div>
  </div>
  {{/each}}
</div>
<div class="separacion"></div>
<footer class="footer fondo-negro">
        <div class="barra">
            <a class="logo">
                <h1 class="logo__nombre no-margin centrar-texto texto-blanco">Cow<span class="logo__bold">Localizer</span></h1>
            </a>
        </div>
</footer>
